

body {
  box-sizing: border-box;
  font-family: Lato, Arial;
  text-align: center;
  color: #eee;
  background-image:url(../images/blur.png);
  webkit-background-size: cover;
  moz-background-size: cover;
  background-size: cover;

}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #eee;
  font-weight: 400;
  text-align: center;
  font-size: 200%;
  letter-spacing: 4px;
}

h4 {
  margin-top: 1em;
  color: #eee;
  font-size: 150%;
  font-weight: 300;
  text-align: center;
}

button {
  display: inline;
  background: #01A4E0;
  color: #2184AC;
  border: 0;
  padding: 4px;
}

input {
    display: block;
    width: 60%;
  height: 30px; 
    margin-top: 1.0em;
   padding: 4px;
}


.login-box {
    padding: 1em 1em 1em 1em;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #233C5A;
    width: 60%;
  height: auto;
}

.outer-box {
    display: block;
    margin: auto;
    background: #233C5A;
    border-radius: 50px; /* kenarı ayarlar */
    width: 40%;
    height: 20em;
  height: auto;
}

.btn-login {
  display: block;
  width: 50%;
  height: 40px;
  margin-top: 1.0em; /*üsteki butona uzaklığı */
  border-radius: 20px;
  background-color: #3366cc;
  color: #fff;
}

.btn-sign_up {
  display: block;
  width: 50%;
  height: 40px;
  margin-top: 1.0em;
  border-radius: 20px;
  background-color: #3366cc;
  color: #fff;
}

.btn-forgot {
  display: block;
  width: 50%;
  margin-top: 1.0em;
  border-radius: 20px;
  color: #fff;
  background-color: #000D36;
}
